.player {
    width: 705px;
    height: 444px;
    background: linear-gradient(111.29deg, rgba(255, 255, 255, 0.53) -1.83%, rgba(255, 255, 255, 0) 109.95%);
    box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    backdrop-filter: blur(35px);
    border-radius: 12px;
    padding: 35px 44px;
    z-index: 7;

    .player__points {
        display: block;
        margin: 35px 0;
    }

    .player__video {
        width: 621.05px;
        height: 339.81px;
        border-radius: 8px;
    }
}