.main {
    max-width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .main__left {
        width: calc(100% - 753px);
    }

    .main__right {
        width: 753px;
        overflow: hidden;
    }

    .main__recomendation {
        max-width: 100%;
        height: max-content;
        margin: 198px 0 140px 0;
    }

    .main__benefit {
        position: relative;
        max-width: 100%;
        height: max-content;

        .benefit__filterPink {
            position: absolute;
            right: 0;
            top: 285px;
        }

        .benefit__filterYellow {
            position: absolute;
            right: 0;
            top: 397px;
        }
    }
}